---
to: "generated/{{name}}.component.ts"
inject: false
---
// Generated component
export class {{name}}Component {
  constructor() {
    console.log('{{name}} component created at {{timestamp}}');
  }
  
  render() {
    return '<div>{{name}} Component</div>';
  }
}