---
to: "src/{{ category | kebabCase }}/{{ type | snakeCase }}/{{ name | pascalCase }}.vue"
---
<template>
  <div class="{{ name | kebabCase }}-{{ category | kebabCase }}">
    {{ name | titleCase }}
  </div>
</template>